## Practice & Exercise:Naive Bayes Implementation

Naive Bayes is a very simple but powerful algorithm used for prediction as well as classification. It tries to find target variable probabilty given the probabilities of features.Naive Bayes is a very fast algorithm that can predict results(with high accuracy) even for small datasets, thus it can be used over real-time data to make predictions. We will use adult dataset here and using naive bayes classifier find out the income probability and its accuracy result with this algorithmÂ¶

In [125]:
import pandas as panda
from sklearn.model_selection import train_test_split 
from sklearn.metrics import accuracy_score

##### pandas is used to import the dataset from a file into data frame. train_test_split is used to split the model into testing and training data. accuracy_score  is used to compare the occuracy of results with target Field

## Importing Dataset

In [126]:
dataset = panda.read_csv('adult.csv')
dataset.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [127]:
# Dropped columns from dataset in order to make the dataset and model simpler
dataset.drop(['fnlwgt','workclass','education','educational-num','marital-status','occupation','relationship','race','capital-gain','capital-loss','native-country'],axis='columns',inplace=True)
dataset.head()

   age  gender  hours-per-week income
0   25    Male              40  <=50K
1   38    Male              50  <=50K
2   28    Male              40   >50K
3   44    Male              40   >50K
4   18  Female              30  <=50K

## Defining features and output

In [128]:
input = dataset.drop('income', axis=1)      
target = dataset['income'] # target denotes target which is species

###### input denotes features "age", "marital-status", "gender", "hours-per-week"(everything except Income) so here we have dropped the "income" column here

In [129]:
len(input)

48842

##### Machine Learning models can not handle text so we have to convert them to numbers

In [130]:
dummies = panda.get_dummies(input.gender) 
dummies.head(3)

   Female  Male
0       0     1
1       0     1
2       0     1

In [131]:
input = panda.concat([input,dummies],axis='columns')
input.head(3)

   age gender  hours-per-week  Female  Male
0   25   Male              40       0     1
1   38   Male              50       0     1
2   28   Male              40       0     1

In [132]:
input.drop(['gender'],axis='columns',inplace=True)  #Dropping gender column as well because of dummy variable trap theory. 
input.head(3)

   age  hours-per-week  Female  Male
0   25              40       0     1
1   38              50       0     1
2   28              40       0     1

## Spliting dataset as into training and testing data

##### The below script splits the dataset into 80% train data and 20% test data. Now we are going to train the model from this training data and once the model is trained then we test it on the testing data.

In [133]:
X_train, X_test, Y_train, Y_test = train_test_split(input,target, test_size=0.20)

In [134]:
len(X_train)

39073

In [135]:
len(X_test)

9769

## Training and prediction

In [136]:
from sklearn.naive_bayes import MultinomialNB  # Imported the Naive Bayes Algorithm from the sklearn library
model = MultinomialNB().fit(X_train, Y_train)  #Train the model on the training data 
Y_pred = model.predict(X_test) #Test the model on the testing data and comparing the result with the actual target.

##### MultinomialNB is the classifier we use to train our model. There are other classifiers such as GaussianNB and Bernoulli

In [137]:
print(Y_pred)

['<=50K' '<=50K' '<=50K' ... '<=50K' '<=50K' '<=50K']

## Evaluating the Algorithm

In [138]:
print(accuracy_score(Y_pred,Y_test))

0.7636400859862832

##### Accuracy of Naive Bayes Algorithm over ADULT dataset is 75.2%

In [139]:
Y_test[:10]

31744    <=50K
2597     <=50K
954      <=50K
26523    <=50K
8663      >50K
21509    <=50K
30301    <=50K
32774    <=50K
25817    <=50K
20556    <=50K
Name: income, dtype: object

In [140]:
model.predict(X_test[:10])

array(['<=50K', '<=50K', '<=50K', '<=50K', '<=50K', '<=50K', '<=50K',
       '<=50K', '<=50K', '<=50K'], dtype='<U5')

###### We can see the variation of testing data and results as accuracy is 75%